$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-dark: #323232;
$primary-color-purple: #634bff;
$primary-color-light-pink: #f9e9dc;
$primary-color-light: #FFFFFF;

$secondary-color-dark: #000000;
$secondary-color-blue: #224cf1;
$secondary-color-mercury:#E1E1E1;
$secondary-color-light: #FAFAFA;
$secondary-color-light-purple: #b340ff;
