.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
        height: 20rem;
        width: 40rem;
    }

    &__container-img{
        margin: 1rem 0;
    }

    &__container{
        display: flex;
        margin: 1rem 0;
        gap: 1rem;
    }

    &__btn{
        border: ra;
    }
}
