@use '../../styles/partials/variables' as *;

.header {
    background-color: $primary-color-purple;
    color: #fff;
    // padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__link{
      text-decoration: none;
    }

    &__logo {
      width: 150px;  // Adjust as needed
      // height: auto;  // This maintains the aspect ratio
    }

    &__avater{
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      // margin-bottom: 1rem;

    }
    &__nav-items {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    &__nav-item {
        // margin-right: 1rem;
    }

}
