@use "./styles/partials/variables" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $primary-color-dark;
  background-color: $primary-color-light;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

header,
footer {
  width: 100%;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.85rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $secondary-color-blue;
  cursor: pointer;
}
